services:
  ui:
    build:
      context: ./ui
      dockerfile: ./Dockerfile
    networks:
      - app-network
    working_dir: /app
    expose:
      - 80
    environment:
      VITE_BACKEND_URL: ${HTTP_PROTOCOL}://${APP_DOMAIN}/api
      VITE_API_URL: ${HTTP_PROTOCOL}://${APP_DOMAIN}/api/api/
      APP_DOMAIN: ${APP_DOMAIN}
    labels:
      traefik.enable: "true"
      traefik.http.routers.ui.rule: "Host(`${APP_DOMAIN}`)"
      traefik.http.routers.ui.entrypoints: "websecure"
      traefik.http.routers.ui.tls.certresolver: "letsencrypt"

  api:
    build:
      context: ./api
      dockerfile: ./Dockerfile
    networks:
      - app-network
    expose:
      - 80
    environment:
      APP_NAME: ${APP_NAME}
      APP_URL: ${HTTP_PROTOCOL}://${APP_DOMAIN}/api
      UI_URL: ${HTTP_PROTOCOL}://${APP_DOMAIN}
      SANCTUM_STATEFUL_DOMAINS: ${APP_DOMAIN}
      SESSION_DOMAIN: ${APP_DOMAIN}
      MAIL_USERNAME: ${MAIL_USERNAME:-null}
      MAIL_PASSWORD: ${MAIL_PASSWORD:-null}
    volumes:
      - api-storage:/var/www/html/storage
      - ./api/.env:/var/www/html/.env
    labels:
      traefik.enable: "true"
      traefik.http.routers.api.rule: "Host(`${APP_DOMAIN}`) && PathPrefix(`/api`)"
      traefik.http.routers.api.entrypoints: "websecure"
      traefik.http.routers.api.tls.certresolver: "letsencrypt"
      traefik.http.middlewares.api-strip-prefix.stripprefix.prefixes: "/api"
      traefik.http.routers.api.middlewares: "api-strip-prefix"
    command: >
      sh -c "
        php artisan key:generate;
        php artisan optimize &&
        php artisan migrate --force &&
        php artisan db:seed --force &&
        php-fpm -D &&
        nginx -g 'daemon off;'
      "

  reverse-proxy:
    image: traefik:3.5
    entrypoint:
      - sh
      - -c
      - |
        mkdir -p /letsencrypt
        touch /letsencrypt/acme.json
        chmod 600 /letsencrypt/acme.json
        exec traefik "$@"
    command:
      - --api.dashboard=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
      - --entrypoints.websecure.address=:443
      - --certificatesresolvers.letsencrypt.acme.httpchallenge=true
      - --certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web
      - --certificatesresolvers.letsencrypt.acme.email=${ACME_EMAIL}
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - traefik-acme:/letsencrypt
    networks:
      - app-network
    depends_on:
      - ui
      - api

networks:
  app-network:
    driver: bridge
volumes:
  api-storage:
    driver: local
  traefik-acme:
    driver: local
